{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'js/cart.js' %}" defer></script>
{% endblock %}

{% block title %}Каталог{% endblock %}

{% block content %}
	{% for product in product_list %}
        <div class="product-container">
            <img width="200px" height="200px" src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="">
            <p><a class="productName" href="{% url 'store:product_card' product.slug %}">{{ product.name }}</a></p>
            <p class="productPrice">{{ product.price }}</p>
            <button class="btn btn-outline-dark cartButton" >Добавить</button>
        </div>
    {% empty %}
        Пока отсутствует продукция магазина, извиняемся за доставленные неудобства
	{% endfor %}
{% endblock %}