@import "custom_nav_bar.css";
@import "catalog.css";
@import "search_form.css";
@import "auth_nav_bar.css";

/*.norm-params{*/
/*    width: 170px;*/
/*    height: 170px;*/
/*    border-radius: 10px;*/
/*}*/
/*.catalog-item{*/
/*    text-align: center;*/
/*}*/


/*.form-register {*/
/*    width: 60%!important;*/
/*    margin: auto;*/
/*    padding: 0 5rem!important;*/
/*    border-radius: 10px;*/
/*}*/

/*#userName {*/
/*    margin-right: 10px;*/
/*}*/