{% extends "store/email/base_email.html" %}
{% block title %}Заказ #{{ order.id }} оформлен{% endblock %}
{% block content %}
<h2>Спасибо за заказ!</h2>
<p>Номер заказа: <strong>{{ order.id }}</strong></p>
<p>Статус: <strong>{{ order.get_status_display }}</strong></p>
<p>Контакты: {{ order.first_name }} {{ order.last_name }}, {{ order.email }}, {{ order.phone }}</p>
<p>Адрес: {{ order.address }}</p>

{% include "store/email/order_items_table.html" with items=order_items total_price=order.total_price %}
{% endblock %}
