.custom-dropdown-menu-auth-mobile {
    --bs-dropdown-min-width: 6.5rem;
    inset: 8px 0 auto auto !important;

}
.auth-item {
    display: flex!important;
    justify-content: center;
    align-items: end;
}

.custom-nav-item {
    display:inline-block;
}

#authDesktop {
    width: 35%;
    max-width: 295px;
    min-width: 285px;

    /*margin-left: 0.4rem;*/
    display: none;
}

#authMobile {
    /*margin-left: 0.4rem;*/
}

/*убрать треугольник у заглавия выпадающего списка*/
.dropdown-toggle::after {
    display:none
}
.userSpan {
    margin-right: 10px !important;
}
