.custom-nav{
    width: 80%;
    min-width: 500px;
    max-width: 850px;
    margin: auto;
    --bs-nav-link-padding-x: 0 rem;
    --bs-nav-link-padding-y: 0 rem;
    --bs-nav-link-color: #515c60;
    --bs-nav-link-hover-color: #000000;
    --bs-nav-link-disabled-color: #878787;
    align-items: center!important;
    justify-content: space-evenly!important;
}


.cat-item:hover{
    background-color: #e9f6ff !important;
}

.custom-link {
    transition: .5s;
    padding: 0!important;
    color:#3c474c;
    text-decoration: none;
}

.custom-link:hover {
    color: #000000;

}


@media screen and (max-width:624px) {
    .custom-nav {
        min-width: 370px;
        max-width: 500px;
    }

    .catalog-container {
        width: 300px
    }
}

.category-img {
    width:1rem;
    height: 1rem;
}

.custom-dropdown-menu-catalog {
    --bs-dropdown-min-width: 8rem;
    left:-1.3rem!important;
}

.cat-item {
    display: flex!important;
    justify-content: space-between;
    align-items: end;
}


@media screen and (min-device-width:451px) {
    .custom-link:hover {
    color: #000000;
    transform: translateY(-4px);
    }
    .custom-link:active {
        transform: translateY(5px)
    }
    .non-active {
        transform: translateY(0px) !important;
    }
    .non-active:active {
        transform: translateY(0px) !important;
    }
}

.bi-person-circle {
    margin-right: 5px;
}

.userSpan {
    margin-right: 5px;
}

.cartDiv{
    cursor: pointer;
}
.bi-cart{
    margin-right: 3px;
}
/* Убираем стрелки в Chrome, Edge, Safari */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем стрелки в Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card {
    z-index: 100000000 !important;
}

header {
    position: relative;
    z-index: 100000000000000000 !important;
}


